<!DOCTYPE html>

<html lang="de">

<head> 

<meta charset="UTF-8" /> 

<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<!-- disables scaling for responsive sites -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- jQuery CDN --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- Reset CSS -->
<style>a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}</style>

<style>

.logo {
	width: 32px;
	height: 32px; 
	position: fixed; 
	left: 50px;
	top: 50px;
} 

.logo-sim {
	color: #fff;
}
	
	/*Ausgangsfarbe, Transition*/ 
	.change-bg {
		fill: #fff; 
		-webkit-transition: fill .25s ease-in-out, color .25s ease-in-out;
		   -moz-transition: fill .25s ease-in-out, color .25s ease-in-out;
		    -ms-transition: fill .25s ease-in-out, color .25s ease-in-out;
		     -o-transition: fill .25s ease-in-out, color .25s ease-in-out;
		        transition: fill .25s ease-in-out, color .25s ease-in-out;
	} 

	/*Ersatz-Farbe*/ 
	.bg-col-black {
		fill: #000; 
		color: #000;
	}
</style>

<script>
	$(function() {

//!! Hier kannst du Bildhöhe (Param. 1) und den gewünschten Versatz (Param. 2) angeben
		changeNnavColor(800, 50);


		function changeNnavColor(imgHeight, offsetTop) {

			var $changeBG = $('.change-bg'), 
				$win = $(window),
				$doc = $(document),
				$heroHeight = imgHeight, 
				$offsetTop = offsetTop; 

				if (typeof $offsetTop === 'undefined') { $offsetTop = 0; }

				$win.scroll(function() {
					if (($doc.scrollTop()) > ($heroHeight - ($offsetTop))) {
						$changeBG.addClass('bg-col-black');
					} else {
						$changeBG.removeClass('bg-col-black');
					}
	
				});
		}
	})
</script>

<title></title>

</head>


<body> 
	
<header>
		
<svg class="logo change-bg" width="168px" height="169px" viewBox="-146 -112 168 169" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <polygon class="" stroke-width="1" fill-rule="evenodd" points="-62 14.5 -110.786176 40.1484105 -101.468845 -14.1757947 -140.937691 -52.6484105 -86.393088 -60.5742053 -62 -110 -37.606912 -60.5742053 16.9376909 -52.6484105 -22.5311546 -14.1757947 -13.2138241 40.1484105"></polygon>
</svg> 

<p class="change-bg logo-sim" style="position: fixed; right: 50px; top: 50px;">
	Lorem <br>
	Ipsum <br>
	Dolor
</p>
</header>


<div class="hero">
	<img src="https://placehold.it/1600x800/0eafff/ffffff">
</div>
<div class="main-content" style="width: 800px; margin: 0 auto; padding-top: 50px;">
	<h1>Hi, das ist die Demo.</h1> 
	<p></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vel rerum expedita officiis. Maxime tenetur distinctio, sunt facilis reiciendis non, molestiae quas perferendis dicta nostrum quidem, placeat exercitationem natus sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a culpa labore officiis deleniti, assumenda ad maxime laboriosam iure non quisquam sequi? Eaque accusamus nostrum eveniet praesentium dolor culpa sint.</p>

</div>


</body>

</html>