/* ========== */
/* = HEADER = */
/* ========== */
/*Header stuff (Navigation, Logo etc.)*/

header {
  position: relative;
  z-index: 10;
}

.logo {
  display: block;
  text-decoration: none;
}

/*Main-Nav*/
.main-nav {
  height: 0;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
       -o-transition: opacity .25s ease-in-out;
          transition: opacity .25s ease-in-out;
}

.nav_is_open .main-nav {
  position: fixed;
  visibility: visible;
  height: 100vh;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  .main-nav {
    height: auto;
    max-height: none;
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }
}



  .main-nav > ul {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

@media screen and (min-width: 600px) {
  .main-nav > ul {
    padding: 0;
    position: relative;
    top: auto;
    transform: none;
  }
}

    .main-nav li {
      list-style: none;
    }

      .main-nav a {
        display: block;
        text-align: center;
        padding: 10px;
        color: #000;
        text-decoration: none;
      }

        .main-nav .current-menu-ancestor > a {
          color: #f00;
        }

        .main-nav .current-menu-item > a {
          color: #0f0;
        }

  .menu-button,
  .menu-button:hover {
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-image: url('images/ui/nav-black.svg');
    background-color:transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 16px;
    outline: none;
  }

  .menu-button:focus {
    background-color: transparent;
  }

    .nav_is_open .menu-button,
    .nav_is_open .menu-button:hover {
      background-image: url('images/ui/close-black.svg');
      background-size: 20px 20px;
    }

@media screen and (min-width: 600px) {

  .menu-button {
    display: none;
  }

}

