/* ========== */
/* = HEADER = */
/* ========== */ 
/*Header stuff (Navigation, Logo etc.)*/

header {
  position: relative;
  z-index: 10;
} 

.logo { 
  display: block;
  text-decoration: none;
} 

/*Main-Nav*/
.js .main-nav { 
  height: auto; 
  max-height: 0px; 
  overflow: hidden; 
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
} 

.js .nav-open .main-nav { 
  max-height: 1000px; 
}

  .main-nav ul {
    padding: 0;
  }
  
    .main-nav li {
      list-style: none;
    }
  
      .main-nav a {
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
      }

/*Toggle Nav Button (mobile)*/
.menu-button {
  display: none;
}

  .js .menu-button, 
  .js .menu-button:hover { 
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px; 
    border: none;
    background: transparent url('images/interface/open-menu-bg.png') center center no-repeat; 
    background-size: 20px;
  } 
  
    .nav-open .menu-button, 
    .nav-open .menu-button:hover {
      background: url('images/interface/close-menu-bg.png') center center no-repeat; 
      background-size: 20px;
    } 

@media screen and (min-width: 600px) {

  .js .menu-button {
    display: none;
  } 

  .js .main-nav { 
    height: auto; 
    max-height: none; 
  }


}

