/* ========== */
/* = HELPER = */
/* ========== */ 

/*MISC
**************************************************************/

.circle { 
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; 
}

/*Call to Action Button*/
.cta,
input[type="submit"],
button { 
  outline: none;
  border: 1px solid #000; 
  color: #fff;
  background-color: #000; 
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: .25em .5em .35em;
  line-height: 1;
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
      -ms-transition: all .15s ease-in-out;
       -o-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}

  .no-touch .cta:hover,
  .no-touch input[type="submit"]:hover,
  .no-touch button:hover { 
    background-color: #fff; 
    color: #000;
  }

  .cta:active, 
  .cta.active,
  input[type="submit"]:active,
  button:active, 
  /*.no-touch due to :hover state (specificity)*/
  .no-touch .cta:active, 
  .no-touch .cta.active,
  .no-touch input[type="submit"]:active,
  .no-touch button:active { 
    background-color: #000; 
    color: #fff;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  } 

  .warning-msg {
    border-left: 5px solid #f00; 
    padding-left: 10px;
  } 

  .info-msg {
    border-left: 5px solid #aaa; 
    padding-left: 10px;
  }

  .okay-msg {
    border-left: 5px solid #0f0; 
    padding-left: 10px;
  }


/*TYPOGRAPHY & LAYOUT
**************************************************************/

/*size*/
.small { font-size: .75em; }
.medium { font-size: 1.5em; }
.large { font-size: 2em; }
.x-large { font-size: 2.5em; }

/*alignment*/
.align-center { text-align: center; }
.align-justify { text-align: justify; }
.align-right { text-align: right; }
.align-left {text-align: left; }

/*styling*/
.drop-cap {
  font-size: 3em;
  line-height: 1;
  font-weight: 600;
  padding: 2px 8px 0 0;
  float: left; }
.run-in { font-weight: bold;}
.italic {font-style: italic;}
.bold {font-weight: 700;}
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

/*other*/
.hide-text {border: 0;font: 0/0 a;text-shadow: none;color: transparent;}

.smooth {-webkit-font-smoothing: antialiased;}
.sub-smooth {-webkit-font-smoothing: subpixel-antialiased;} 

.r-br {display: none;} /*responsive line break - no break on mobile*/

.cols2, 
.cols3, 
.cols4 {
  max-width: 780px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  column-count: 1;} 



@media screen and (min-width: 600px) {

  .r-br {display: block;} /*responsive line break*/

  .cols2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
        -ms-column-count: 2;
            column-count: 2;}
  
  .cols3 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
        -ms-column-count: 3;
            column-count: 3;}
  
  .cols4 {
    -webkit-column-count: 4;
       -moz-column-count: 4;
        -ms-column-count: 4;
            column-count: 4;} 

      .cols2 p, 
      .cols3 p, 
      .cols4 p {
          padding-top: 0; 
          padding-bottom: 1em;
          display: inline-block;
        }          
      
        .cols2 h1, 
        .cols2 h2, 
        .cols2 h3, 
        .cols2 h4, 
        .cols2 h5, 
        .cols2 h6, 
        .cols2 img,
        .cols3 h1, 
        .cols3 h2, 
        .cols3 h3, 
        .cols3 h4, 
        .cols3 h5, 
        .cols3 h6, 
        .cols3 img
        .cols4 h1, 
        .cols4 h2, 
        .cols4 h3, 
        .cols4 h4, 
        .cols4 h5, 
        .cols4 h6, 
        .cols4 img {
          -webkit-column-span: all;
                  column-span: all;
        }

} 

/*DISPLAY OPTIONS
**************************************************************/

/*floats*/
.left {float: left;}
.right {float: right;}

/*display*/
.block {display: block;}
.inline {display: inline;}

/*position*/
.fixed {position: fixed;}
.absolute {position: absolute;}
.relative {position: relative;}
.static {position: static;} 

