/* ========================================================= */
/* = =================PAGE STRUCTURE====================== = */
/* ========================================================= */

/*PAGE-SEGMENTS
**************************************************************/

.container { /*contains the whole Page */
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
      
  header {
    position: relative;
    z-index: 1100;
  } 
  
  .content {
    position: relative;
  } 
  
  footer {
    position: relative;
  }
  
    .frame, 
    [class*=frame-] { /*frame, contains Content-Modules, no padding!*/
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
    } 
  
/*GRID 
**************************************************************/

.half, 
.third, .third.double, 
.quarter, .quarter.triple  { 
  width: 100%;
  position: relative;
  padding: 25px;
  float: none;
} 

@media screen and (min-width: 600px) { 

  .half {
    width: 50.000000%;
    float: left;}
  
  .third {
    width: 33.333333%;
    float: left;}

  .third.double {
    width: 66.666666%;
    float: left;}
  
  .quarter {
    width: 25.000000%;
    float: left;}

  .quarter.triple {
    width: 75.000000%;
    float: left;} 

}