<!DOCTYPE html>

<html lang="de">

<head> 

<meta charset="UTF-8" /> 

<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<!-- disables scaling for responsive sites -->
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="../../../style.css" media="screen" /> 
<link rel="stylesheet" href="shyheader-style.css" media="screen" /> 

<link rel="icon" type="image/png" href="/favicon.png"/> 
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

<script src="../../../js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/custom.js" type="text/javascript" charset="utf-8"></script>
<script src="shyheader.js" type="text/javascript" charset="utf-8"></script>


<!--IE png support-->
<!--[if lt IE 7]>
<script defer src="js/pngfix.js"></script>
<![endif]-->

<!--IE html5 support-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
<![endif]-->


<title></title> 

<style>
	
	header {
		background: #eee;
	}

</style>

</head>


<body> 
	
<div id="container" class="clear"> 

	
	<header> 

		<nav class="clear">
			<li class="left" style="padding: 10px"><a href="#">eins</a></li>
			<li class="left" style="padding: 10px"><a href="#">zwei</a></li>
			<li class="left" style="padding: 10px"><a href="#">drei</a></li>
			<li class="left" style="padding: 10px"><a href="#">vier</a></li>
		</nav>
		
	</header> <!--END HEADER-->
	


	<div id="content" class="clear">  
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo deleniti veritatis corporis natus eligendi vero? Animi voluptates perspiciatis rem expedita, corporis, incidunt, aliquam praesentium veniam ut adipisci magnam rerum laudantium?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque veniam eos repellendus beatae optio temporibus aut, error, nam in placeat minima dolor? Ipsam, asperiores, reprehenderit dolorem consequatur magnam doloremque!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nesciunt error doloremque optio sunt ipsum aliquam, odit blanditiis placeat nostrum beatae alias voluptatum quia saepe nemo molestias vel odio vitae!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illo dolore nesciunt dolorem. Consequatur rerum soluta dolor modi, illo, fugit quisquam eos similique magnam nobis expedita tempora velit laudantium labore.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident soluta similique quod quos, distinctio nesciunt, nulla error sequi adipisci nisi perspiciatis? Distinctio reiciendis, aliquam, facere amet consectetur laboriosam deleniti. Nihil.</p>

		
	</div> <!--END CONTENT-->
	

	<div id="footer" class="clear">
		
	</div> <!--END FOOTER-->

	
</div> <!--END CONTAINER--> 




</body>

</html>