<!DOCTYPE html>

<html lang="de" class="">

<head> 

<meta charset="UTF-8" /> 
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="MobileOptimized" content="320">
<meta name="HandheldFriendly" content="True">

<!-- stops auto-scale, allows user scale -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../../../style.css" media="all" /> 
<link rel="stylesheet" href="owl-style.css" media="all" /> 

<script src="../../../js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/scripts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/owl.carousel.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/owl-custom.js" type="text/javascript" charset="utf-8"></script>

<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--IE png support-->
<!--[if lt IE 7]>
<script defer src="js/pngfix.js"></script>
<![endif]-->


<title>Owl-Slider Component</title>

</head>


<body class=""> 
	<div class="container"> 

		<div class="content">  
			<section class="slider-container">
				<div id="slider" class="owl-carousel">
 
				  <div class="item"><img alt="" src="http://placehold.it/1500x500/0eafff/ffffff.png" /></div>
				  <div class="item"><img alt="" src="http://placehold.it/1500x500/dd3300/ffffff.png" /></div>
				  <div class="item"><img alt="" src="http://placehold.it/1500x500/22dd22/ffffff.png" /></div>
				 
				</div>

			</section>
		</div> <!--END CONTENT-->
		
	
		<footer>
			<div class="frame">
				<div class="bracket">
					
				</div>
			</div> <!--END FRAME-->
		</footer> <!--END FOOTER-->

	
	</div> <!--END Container--> 
</body>

</html>





