/*
Carousel
*/

.section-carousel {
    position: relative;
}

    .carousel {
        margin-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

.section-carousel .slider-nav {
    padding-left: 10px;
    padding-right: 10px;
}